:root{
    --toc-width: 320px;
}
/* basics */
body {
    background: white;
    color: black;
    font-family: system-ui;
    line-height: 1.8;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: var(--toc-width) 1fr;
    transition: grid-template-columns 0.25s ease-in-out;
}
main{
    padding: 32px;
    overflow-y: auto;
    > div {
	margin: auto;
	max-width: 640px;
    }
}
a{
    color: inherit;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
img{
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 6px;
}
pre{
    border: 1px solid #d4d4d8;
    border-radius: 6px;
    padding: 16px;
    overflow-x: auto;
}
summary {
    cursor: pointer;
}
::-webkit-scrollbar {
    background: none;
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: #a1a1aa;
    border-radius: 9999px;
}

/* mathjax */
.math {
    overflow-x: auto;
}
.math-inline svg{
    display: inline-block;
}

/* navbar */
#navbar {
    grid-column: 1 / span 2;
    background: #d4d4d8;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
    > div {
	margin: auto;
	padding: 0 2em;
	max-width: 840px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
    }
    #toc-toggle {
	display: none;
    }
}
body:has( #toc-toggle:checked) {
    grid-template-columns: 0 1fr;
}

#toc {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f4f4f5;
    ::marker {
	content: '';
    }
    line-height: 1.2;
}
#toc a {
    font-weight: normal;
    text-decoration: none;
}
#toc ul {
    margin: 10px 0 10px 30px;
    padding: 0;
}
#toc li {
    margin: 10px 0;
}
#TableOfContents {
    position: absolute;
    right: 0;
    width: var(--toc-width);
    > ul {
	margin: 30px;
    }
}

@media (max-width: 768px) {
    body{
        padding-left: 0;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #18181b;
        color: #e4e4e7;
    }
    ::-webkit-scrollbar-thumb{
	background: #71717a;
    }
    #navbar {
	background: #3f3f46;
    }
    #toc {
        background: #27272a;
    }
    pre{
        border: 1px solid #3f3f46;
    }
}

/*print*/
@media print {
    body {
        font-size: 0.8em;
        line-height: 1.2;
	grid-template: 1fr / 1fr;
	color: black;
    }
    #navbar {
	display: none;
    }
    #toc {
	display: none;
    }
}
